form{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    width:100%;
    border-bottom:1px dotted red;
}

.input-container{
    width:90%;
    display:Flex;
    flex-direction: column;
}

input,
.checkbox{
    margin:4px 0;
}

.input-text{
    border:none;
    height:2.5rem;
    color:white;
    background-color: black;
    font-weight: bold;
    font-size:1rem;
    border-bottom: 3px solid #2f2f2f;
}

.submit{
    height: 2rem;
    color:white;
    background-color: blue;
    border-radius: 10px;
    border:1px solid white;
}
